@charset "UTF-8";
#bars {
    height: 200px;
    left: 0%;
    margin: 10px 0 0 20px;
	position:relative;
    top: 50%;
    width: 480px;
}

.bar {
   background: red;
    bottom: 1px;
    height: 3px;
    position: absolute;
    width: 4px;
	
    animation: sound 0ms -800ms linear infinite alternate;
}

@keyframes sound {
    0% {
       opacity: .35;
        height: 3px; 
    }
	50% {
       opacity: .65;
        height: 60px; 
    }
    100% {
        opacity: 1;       
        height: 150px;        
    }
}

.bar:nth-child(1)  { left: 1px; animation-duration: 474ms; }
.bar:nth-child(2)  { left: 8px; animation-duration: 433ms; }
.bar:nth-child(3)  { left: 15px; animation-duration: 407ms; }
.bar:nth-child(4)  { left: 22px; animation-duration: 458ms; }
.bar:nth-child(5)  { left: 29px; animation-duration: 400ms; }
.bar:nth-child(6)  { left: 36px; animation-duration: 427ms; }
.bar:nth-child(7)  { left: 43px; animation-duration: 441ms; }
.bar:nth-child(8)  { left: 50px; animation-duration: 419ms; }
.bar:nth-child(9)  { left: 57px; animation-duration: 487ms; }
.bar:nth-child(10) { left: 64px; animation-duration: 442ms; }
.bar:nth-child(11) { left: 71px; animation-duration: 403ms; }
.bar:nth-child(12) { left: 78px; animation-duration: 423ms; }
.bar:nth-child(13) { left: 85px; animation-duration: 434ms; }
.bar:nth-child(14) { left: 92px; animation-duration: 408ms; }
.bar:nth-child(14) { left: 99px; animation-duration: 458ms; }
.bar:nth-child(15) { left: 106px; animation-duration: 508ms; }
/*!
 * animate.css -http://daneden.me/animate
 * Version - 3.5.1
 * Licensed under the MIT license - http://opensource.org/licenses/MIT
 *
 * Copyright (c) 2016 Daniel Eden
 */

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}



@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}

